<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="/public/footerStyle.css">

<footer>
    <div class="footer">
        <a href="/"><img src="/public/assets/logo-alt.png" alt="Footer Logo" class="footer-logo"></a>
        <div class="contact-info">
            <div class="contact-line">
                <i class="contact-icon bi bi-telephone-fill"></i>
                <span><a href="tel:+028 9057 1100" class="white-link">028 9057 1100</a></span>
            </div>
            <div class="contact-line">
                <i class="contact-icon bi bi-envelope-fill"></i>
                <span><a href="mailto:kainos@kainos.com" class="white-link">kainos@kainos.com</a></span>
            </div>
            <div class="contact-line">
                <i class="contact-icon bi bi-house-fill"></i>
                <span><a href="https://www.google.com/maps/search/?api=1&query=1600+kainos+belfast" target=”_blank” class="white-link">4-6 Upper Cres, Belfast BT7 1NT</a></span>
            </div>
        </div>
    </div>
</footer>